<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/answerer.css">
    <title>Five League!!</title>
</head>
<body>
    <div id="contents">
        <div id="question_area">
            <p id="question"></p>
        </div>
        <div id="other_answer_area">
            <div id="other_answers">
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name">未参加</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name">未参加</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name">未参加</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name">未参加</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name">未参加</p>
                </div>
            </div>
        </div>
        <div id="answer_area">
            <div id="answer">
                <input type="text" name="answer_text" id="answer_text" maxlength="5">
            </div>            
            <div id="name_area">
                <p id="position"></p>： <p id="player_name"></p>
            </div>
        </div>
        <div id="button_area">
            <button id="send_answer" onclick="sendAnswer();">回答送信</button>
        </div>
    </div>
    <script src="./js/answerer.js"></script>
</body>
</html>