<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/questioner.css">
    <title>Word Wolf!!!(Questioner)</title>
</head>
<body>
    <div id="contents">
        <div id="question_area">
            <div id="questions">
                <div class="question">
                    <input type="text" class="question_text">
                </div>
                <div class="question">
                    <input type="text" class="question_text">
                </div>
                <div class="question">
                    <input type="text" class="question_text">
                </div>
                <div class="question">
                    <input type="text" class="question_text">
                </div>
                <div class="question">
                    <input type="text" class="question_text">
                </div>
            </div>
            <button id="send_question" onclick="sendQuestion();">お題送信</button>
            <div id="spectator">
                <input type="text" id="spectator_text">
                <button id="send_spectator" onclick="sendSpectator();">配信表示用</button>
            </div>
            <br>
        </div>
        <div id="other_answer_area">
            <div id="other_answers">
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name" onclick="changeAnswerResult('0');">-</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name" onclick="changeAnswerResult('1');">-</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name" onclick="changeAnswerResult('2');">-</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name" onclick="changeAnswerResult('3');">-</p>
                </div>
                <div class="other_answer">
                    <p class="other_answer_text"></p>
                    <p class="other_answer_name" onclick="changeAnswerResult('4');">-</p>
                </div>
            </div>
            <button id="send_judge" onclick="sendJudge();">結果送信</button>
        </div>
    </div>
    <script src="./js/questioner.js"></script>
</body>
</html>