body{
	margin:0;
	padding:0;
}

#contents {
    text-align: center;
    margin: 0 auto;
}

#dice{
    color: white;
    font-size: xx-large;
}

#rollButton{
    font-family: Impact;
    font-size: larger;
}
